{% assign description = "The ultimate cheatsheet for " | append: include.page.title | append: "." %}
<ul class="social-list {{ include.class }}">
  <li class="hint--bottom" data-hint="Share on Facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{
      site.url }}{{ include.page.url }}" target="share">Facebook</a></li>
  <li class="hint--bottom" data-hint="Share on Twitter"><a href="https://twitter.com/intent/tweet?text={{ description }}
      {{ site.url }}{{ include.page.url }}" target="share">Twitter</a></li>
  <li class="hint--bottom" data-hint="Share on LinkedIn"><a href="https://plus.google.com/share?url={{ site.url }}{{
      include.page.url }}" target="share">LinkedIn</a></li>
</ul>
